# target files
tidypath
libtidypath.la

# folder and project files
.DS_Store
.idea
tidypath.iml

# dev files
*~
*.lo
*.log
*.o
*.swp
*.trs
.libs

# autoconf and automake files
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
test-driver
